<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/css.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="div1">
        <h1>Bienvenido a mi pagina</h1>
        <img src="{%static 'img/serie1.jfif' %}" onclick="location.href='a'">
        <img src="{%static 'img/serie2.jfif' %}" onclick="location.href='a1'">
        <img src="{%static 'img/serie3.jfif' %}" onclick="location.href='a2'">
    </div>
</body>
</html>